<!doctype html>
<html>
  <head>
    <title>Complaint!</title>
    <link rel = "stylesheet" type = "text/css" href="css/custom.css"/>
  </head>
  <body style="background-color:white";>
    <h1> This is Complaint Page </h1>
     
    <ul>
        <div class="ptable">
        <table class="table">
            <tr class="col">
                <th>_Id</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
            <% availableuser.forEach(function(user){ %>
            <tr class="wpos">
                <td><%= user._id %></td>
                <td><%= user.Email %></td>
                <td><%= user.Subject %></td>
                <td><%= user.Message %></td>
            </tr>
   </div>
 </ul>
   <% }) %>

   <form method="POST" action="/deleted">
    <h4>Please write the name of the id you want deleted</h4>
    <label for= "_id"><b>ID:</b></label>
    <input id="_id" type="text4" name="_id" placeholder="_id" />
    <br></br>
    <input type="submit" name="delete"/>
</form>
   

  </body