<!doctype html>
<html>
        <head>
                 <title>Default Game Page</title>
        </head>
               <h1><%= gametitle %></h1>
                    <body>
                         <h3>Game decription</h3>
                         <%= pageText %>
                         <p>Game deatails</p>
                         <ul>
                                                                                                                                                                                                                   
                                <iframe src="https://steamdb.info/embed/?appid=730" height="389" style="border:0;overflow:hidden;width:100%"></iframe>
                         </ul>

                         <!-- <% availablegame.forEach(function(game){ %>
                              <li><%= game.negative_rating %>, <%= game.positive_ratings %></li>
                             <% }) %> -->

                         <!-- <form method="POST" action="/reviwed">
                              <input type="checkbox" id="postive" name="postive" value="1">
                              <label for="postive"> Postive</label><br>
                              <input type="checkbox" id="negative" name="negative" value="-1">
                              <label for="negative"> Negative</label><br>
                              <input type="submit" name="submit"/>
                            </form> -->
    
                    </body>
</html>