<!doctype html>
<html>
        <head>
                 <title>Default Game Page</title>
        </head>
               <h1><%= gametitle %></h1>
                    <body>
                         <h3>Game decription</h3>
                         <%= pageText %>
                         <p>Game deatails</p>
                         <ul>
                                                                                                                                                                                                                   
                                <iframe src="https://steamdb.info/embed/?appid=730" height="389" style="border:0;overflow:hidden;width:100%"></iframe>
                         </ul>
                    </body>
</html>